.label {
  height: 100%;
  display: flex;
  align-items: center;
  background: #fefecb;
  padding: 0 2px;
  width: calc(100% - 4px);

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
  }
}
