<p>
  form-builder works!
</p>

<div class="container">
  <div class="sidebar">
    <p>Drag for Add new Element</p>
    <div draggable="true" class="dragNewElement">
      <app-input [formElement]='dragNewElement'></app-input>
    </div>
    <div *ngIf='currentElement' class="settings">
      <app-form-setting [formElement]='currentElement' (selectSubmit)="selectSubmit()" (deleteElement)="deleteElement($event)" (setElement)="setElement($event)"></app-form-setting>

    </div>

  </div>
  <gridster [options]="options">
    <gridster-item [class.isCurrent]='item === currentElement' [item]="item" *ngFor="let item of dashboard" (click)="setCurrentElement(item)">
      <app-input [formElement]='item'></app-input>
    </gridster-item>
    <!-- <app-form-setting *ngIf='currentElement' class="settingsBlock" [class.isShow]='item === currentElement' [formElement]='currentElement'
      (setElement)="setElement($event)"></app-form-setting> -->
  </gridster>
</div>

<pre>
  <!-- {{item.id}} -->
  {{dashboard | json}}
</pre>

<!--  -->