
<div class="container">
  <div class="sidebar">
    <p>Drag for Add new Element</p>
    <div draggable="true" class="dragNewElement">
      <app-elements [element]="dragNewElement"></app-elements>
    </div>
    <div *ngIf="currentElement">
      <app-form-setting [element]='currentElement.element' 
      (selectSubmit)="selectSubmit()" 
      (deleteElement)="deleteElement($event)" 
      (setElement)="setElement($event)">
    </app-form-setting>
    </div>

  </div>
  <gridster [options]="options">
    <gridster-item [class.isCurrent]='item === currentElement' 
        *ngFor="let item of dashboard" 

    [item]="item.gridster" 
    (click)="setCurrentElement(item)">
      <!-- <app-input [formElement]='item'></app-input> -->
      <app-elements   [element]="item.element"></app-elements>

    </gridster-item>   
  </gridster>
</div>
<div *ngFor="let item of dashboard">
  {{item | json}}
</div>


<!-- *ngIf='currentElement' class="settings"-->