.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: calc( 100% - 20px);
  grid-gap: 1em;
  padding: 10px;
  margin: 0 auto;
  max-width: 1340px;
}

.title {
  font-weight: 700;
  margin: 15px 0;
  cursor: pointer;
}
.gridster {
  width: 100%;
  max-width: 1140px;
//   position: relative;
//   box-sizing: border-box;

//   background:rgba(73, 73, 72, 0.267);
//   overflow-x: hidden;
//   overflow: visible;
//   margin: 0 auto;
  // cursor: default;
}
.isCurrent {
  z-index: 2;
  box-shadow: 0 0 5px 5px rgba(0, 131, 136, 0.2), 0 6px 10px 0 rgba(0, 131, 136,.14), 0 1px 18px 0 rgba(0, 131, 136,.12);
}

.sidebar{
  max-width: 200px;
  // max-height: 600px;
  // height: 100%;
  // width: 250px;
  // padding: 5px;
  // margin-right: 15px;
  // border: 2px solid grey;
  // overflow: auto;

}
.drag-new-element {
  max-width: 200px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 3px;
  padding: 4px;
  font-style: italic;
  background: rgba(5, 112, 59, 0.192);
}
