.container {
  // width: 100%;
  padding: 10px;
  height: calc(100% - 20px);
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
//   position: relative;
//   box-sizing: border-box;

//   background:rgba(73, 73, 72, 0.267);
//   overflow-x: hidden;
//   overflow: visible;
//   margin: 0 auto;
  // cursor: default;
}
// .gridster {
//   margin: 0 auto;
// }