<!-- <div [class.isCurrent]='isCurrent'> -->

<div [ngSwitch]='formElement.controlType' class="container" [class.isCurrent]='isCurrent'>
  <div *ngSwitchCase="'textbox'" class="box">
    <label class="box__label">
      <p>{{formElement.label}}</p>
    </label>
    <div class="box__inputArea">
      <input class="box__input plr3" [type]='formElement.type'>
    </div>
    <!-- <button class="button"></button> -->
  </div>

  <div *ngSwitchCase="'dropdown'" class="box">
    <label class="box__label">
      <p>{{formElement.label}}</p>
    </label>
    <div class="box__inputArea">
      <select class="box__input">
        <option *ngFor="let option of formElement.options">{{option}}</option>
      </select>
    </div>
    <!-- <button class="button"></button> -->
  </div>

  <div *ngSwitchCase="'textarea'" class="boxTextarea">
    <label class="boxTextarea__label">
      <p>{{formElement.label}}</p>
      <!-- <button class="button"></button> -->
    </label>
    <textarea class="boxTextarea__input plr3"></textarea>
  </div>

  <!-- </div> -->