<span>Type </span>
<form [formGroup]="elementType" class="settingsForm__item">
  <select formControlName="controlTypes">
    <option *ngFor="let controlType of controlTypes" [ngValue]="controlType">{{controlType.value}}</option>
  </select>
</form>

<form [formGroup]="settingsForm" class="settingsForm">
  <div *ngFor="let item of element.settings" class="settingsForm__item" [class.inLine]="item.componentKey==='checkbox'">
    <label for={{item.key}}>{{item.label}}</label>
    <div class="element">
      <app-elements [element]="item" [form]="settingsForm" [isNoBorder]="item.componentKey === 'checkbox'">
      </app-elements>
    </div>
  </div>
</form>

<button  class="button" (click)="removeElement()">Delete</button>