<!-- <form [formGroup]="elementType" class="settingsForm__item"> -->
  <mat-form-field [formGroup]="elementType" class="settingsForm__item">
    <mat-select formControlName="controlTypes" placeholder="Type">
      <mat-option *ngFor="let controlType of controlTypes" [value]="controlType">{{controlType.value}}</mat-option>
    </mat-select>
  </mat-form-field>


  <!-- <select formControlName="controlTypes">
    <option *ngFor="let controlType of controlTypes" [ngValue]="controlType">{{controlType.value}}</option>
  </select> -->
<!-- </form> -->

<form [formGroup]="settingsForm" class="settingsForm">
  <div *ngFor="let item of element.settings" class="settingsForm__item" [class.inLine]="item.componentKey==='checkbox'">
    <label for={{item.key}}>{{item.label}}</label>
    <div class="element">
      <app-elements [element]="item" [form]="settingsForm" [isNoBorder]="item.componentKey === 'checkbox'">
      </app-elements>
    </div>
  </div>
</form>
<button mat-raised-button class="button" (click)="removeElement()">Delete</button>