.settings{
  // width: 40%;
  border: 2px solid grey;
  padding: 15px;
  label {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    margin-bottom: 10px;
    background: #fefecb;
    width: 200px;
  }
  input {
    width: 100px;
  }
  select {
    width: 100px;
    background: white;
  }
}
