.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 24px;
    height: 24px;
    background: transparent;
    color: white;

  }
  svg {
    // width: 100%;
    // height: 100%;
    // background: red;
    border: 4px solid gray;
    border-radius: 20%;
    &.isChecked {
      background: gray;

    }  
  } 
  // .input {
  //   display: none;
  // }
}