.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    // width: 100%;
    // height: 100%;
    // background: red;
    border: 4px solid gray;
    border-radius: 20%;
    &.isChecked {
      background: gray;

    }  
  } 
  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}