.container {
  position: relative;
  height: 400px ;
  padding: 15px;
}


gridster {
  position: relative;
  box-sizing: border-box;
  background:rgba(73, 73, 72, 0.267);
  max-width: 1000px;
  overflow-x: hidden;
  overflow: visible;
  margin: 0 auto
}
