button {
  padding: 10px 20px;
  background: transparent;
  border-radius: 10px;
  border: 3px solid;
  font-weight: 700;
  margin-right: 10px;
  font-size: 20px;
  outline: none;
  &.active {
    color: green;
  }  
}