<!--The content below is only a placeholder and can be replaced.-->
<section class="shiftRep">
  <div class="header">
    <div class="wrapper">
      <h1>
        {{title}}
      </h1>
      <div>
        <button *ngFor="let item of appRouters" routerLinkActive="active" routerLink="/{{item.path}}">
          {{item.title}}
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="wrapper">
      <button (click)="save($event)">SAVE</button>
    </div>
  </div>
</section>