.section {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background: red;
  padding: 10px;
  background: rgb(185, 233, 199);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer {
  background: rgb(185, 233, 199);
  padding: 10px;
  text-align: center;
  button {
  }
}
.routerLink {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.active {
  background: rgb(226, 223, 42);
  color: rgb(84, 38, 235);
}
// button {
//   padding: 5px 20px;
//   background: transparent;
//   border-radius: 10px;
//   border: 3px solid;
//   font-weight: 700;
//   margin-right: 10px;
//   font-size: 20px;
//   outline: none;
//   &.active {
//     color: green;
//   }
//   &:hover {
//     color: red;
//     border-color: red;
//   }
// }
