<!--The content below is only a placeholder and can be replaced.-->
<section class="section">
  <div class="header">
    <div class="wrapper">
      <h1>
        {{title}}
      </h1>
      <div>
        <a class="routerLink" mat-raised-button *ngFor="let item of appRouters" routerLinkActive="active"
          routerLink="/{{item.path}}">
          {{item.title}}

          <mat-icon>{{item.icon}}</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <button mat-raised-button  (click)="save($event)">SAVE</button>
  </div>
</section>