<!-- <gridster [options]="options" [style.background-color]="options.bgColor">
  <gridster-item [class.isCurrent]='i === currentElementId' *ngFor="let item of dashboard; let i = index"
    [item]="item.gridster">
    <app-elements [element]="item.element" [form]="form"></app-elements>
  </gridster-item>
</gridster> -->

<div class="gridster">
  <gridster [options]="options" [style.background-color]="options.bgColor">
    <gridster-item [class.isCurrent]='i === currentElementId' *ngFor="let item of dashboard; let i = index"
      [item]="item.gridster" (click)="setCurrentElement(i)">
      <app-elements [isGridster]="true" [element]="item.element" [form]="form"></app-elements>
    </gridster-item>
  </gridster>
</div>



<!-- <gridster [options]='config'>
    <gridster-item *ngFor="let item of dashboard" [item]="item.gridster">
      <app-elements [element]="item.element" [form]="form"></app-elements>
    </gridster-item>
  </gridster> -->