.form {
  height: 100%;
  width: 100%;
}

.inputGridster {
  display: block;
  padding: 0 2px;
  height: 100%;
  border: 0;
  width: calc(100% - 4px);
  outline: none;
  cursor: inherit;
}
input[type='date'] {
  color: red;
}
